@font-face {
    font-family: "youtube";
    src: url("Youtube Star.ttf");
}
@import url('https://fonts.googleapis.com/css2?family=Rubik+Broken+Fax&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
*{
    font-family: "youtube";
    outline: red 1px solid;
}

dialog{
    z-index: 100;
    background-color:rgb(216, 60, 125, 0.6);
    background: linear-gradient(103deg, rgba(168,11,75,1) 2%, rgba(105,9,48,1) 38%, rgba(34,36,42,1) 100%);
    border-radius: 10px;
    position: fixed;
    top: 10px;
    left: 66%;
    font-size:2em;
    color: #fffefe;
    opacity: 0;
    transition: opacity 1s;
}

body{
    transition: background-image 1s ease-in-out;
    background-image:url("img/Final2.gif");
    background-size: cover;
    font-family: "Rubik Broken Fax", system-ui;
    color: whitesmoke;
}

h1{
    text-shadow: 2px 2px 20px #7B7B7B;
    font-size: 46px;
}

.h2{
    font-size: 39px !important;
    text-shadow: 2px 2px 20px #7B7B7B;
}

textarea{
    font-family: "DM Serif Display", serif;
    resize: none;
    display: block !important;
    background: rgba(255, 255, 255, 0.09) !important;
    border-radius: 16px !important;
    box-shadow: 0 4px 3px rgba(0, 0, 0, 0.1) !important;
    backdrop-filter: blur(2px) !important;
    -webkit-backdrop-filter: blur(2px) !important;
    border: 1px solid rgba(255, 255, 255, 0.3) !important;
    color: rgb(255, 255, 255) !important;
    font-size: 27px !important;
}

textarea::placeholder {
    text-shadow: 2px 2px 20px #7B7B7B;
    color:white !important;
    opacity: 1 !important;
}

.form-control:hover {
    backdrop-filter : brightness(69%) !important;
}

button{
    height: 4rem;
    width: 38%;
    border: 1px solid #d4d4d4 !important;
    border-style: double;
    text-shadow: 2px 2px 20px #7B7B7B;
    font-size: 29px !important;
} 
@media (min-width: 768px) and (max-width: 1024px) {

    button{
        font-size: 20px !important;
    }
    /* cambio de img table */
}
@media (min-width:200px) and (max-width:768px){
    dialog{
        /* empcz */
        font-size: 18px;
    }
    button{
        font-size: 18px;
    }
    /* "" cel */
    
}

#encritp_text{
    margin-left: 6%;
}

#desencrip_text{
    margin-right: 6%;
}

.botones{
    opacity: 0.8;
}

.btn_copiado{
    width: 10%;
    background-color: transparent;
    border: 0px !important;
}
.btn_copiado:hover{
    transform: scale(1.1);
    padding: 5px ;

}
.texto_copiado{
    text-shadow: 2px 2px 20px #7B7B7B;
    font-size: 30px;
    display: none;
}
